# dependencies
/node_modules

# testing
/coverage
/playwright-report/
/test-results/

# TanStack Start production output
/.output
/dist

# misc
.DS_Store
*.pem

# debug
pnpm-debug.log*

# local env files
.env
.env.*
!.env.example
.env*.local

# typescript
*.tsbuildinfo

# worktrees
.worktrees/

# AI
.sisyphus/
